.navbar {
    user-select: none;
    overflow: hidden;
    background-color: transparent;
}

.navbar a {
    float: left;
    font-size: small;
    color: black;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ccc;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    background-color: #3e8e41;
}

.context-menu {
    position: absolute;
    z-index: 10000;
    width: 150px;
    background: #ffffff;
    border-radius: 5px;
}

.context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #000000;
    cursor: pointer;
    border-radius: inherit;
}

.context-menu .item:hover {
    background: #ccc;
}

.appendArrow {
    float: right;
    width: 25px;
    height: 20px;
    background-image: url('../images/arrowDown.png');
    transform: rotate(-90deg);
    margin-top: -2px;
}