/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 9px 11px;
    transition: 0.3s;
    font-size: 12px;
}

.hoveredTab {
    background: #ccc !important;
}


/* Change background color of buttons on hover
.tab button:hover {
  background-color: #ddd;
}
 .tab button:focus{
  background-color: #ccc;
} 
.tab button.active {
  background-color: #ccc;
} */


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#up_tab {
    height: 100px;
    width: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

#left_tab {
    float: left;
    height: 80%;
    width: 18%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.workspace {
    float: left;
    height: 100%;
    width: 1000px;
    /* background-color: rgb(210, 212, 236); */
    z-index: 2;
}

#right_tab {
    float: right;
    width: 18%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.component {
    width: 165px;
    height: 75px;
    text-align: center;
    position: absolute;
    cursor: grab;
    /* border-radius: 10%; */
    color: black;
    z-index: 9;
    background: rgba(255, 255, 255);
    /* background: transparent; */
    outline: 2px auto;
    /* outline-color: white; */
    /* border: 2px  solid rgba(0,0,0,0.5);  */
    box-sizing: border-box;
}

.selected {
    width: 165px;
    height: 75px;
    text-align: center;
    position: absolute;
    cursor: grab;
    /* border-radius: 10%; */
    color: black;
    z-index: 9;
    background: rgba(255, 255, 255);
    /* background: transparent; */
    outline: 2px auto;
    outline-color: blue;
    /* border: 2px  solid rgba(0,0,0,0.5);  */
    box-sizing: border-box;
}

.resizer {
    width: 10px;
    height: 10px;
    background: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
}

.photo_rectangle {
    /* background-image: url("./icons8-add-new-96.png"); */
    /* align-content: center; */
    overflow: hidden;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-size: contain;
    outline-color: black;
    width: 30px;
    height: 30px;
    margin-top: 1.5px;
    border: 1px solid transparent;
}

.unselectable {
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: small;
    white-space: nowrap;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 19;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close {
    color: #f04d4d;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.functionRec {
    width: 229.78px;
    height: 70%;
    margin-left: 8.5%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: scroll;
}

.function {
    width: auto;
    height: 29px;
    cursor: grab;
    text-align: right;
    line-height: 170%;
    box-sizing: border-box;
    margin-left: 5px;
    margin-top: 5px;
    z-index: 11;
}

.fName {
    width: auto;
    text-align: left;
    margin-top: -0.5px;
    margin-left: 40px;
}

.ficon {
    float: left;
    margin-right: 12px;
    width: 24px;
    height: 25px;
    background-image: url('../images/fIcon.png');
}

.selectedFunction {
    width: calc( 100% - 20px);
    height: 29px;
    text-align: center;
    cursor: grab;
    /* position: absolute; */
    line-height: 170%;
    border: 2px solid blue;
    /* border: 2px  solid rgba(0,0,0,0.5);  */
    box-sizing: border-box;
    z-index: 11;
    margin-left: 5px;
    margin-top: 5px;
}

.bodyDot {
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}

hr.solid {
    border: 1px solid #ccc;
    margin-right: 5%;
    margin-left: 5%;
}

.no-outline:focus {
    outline: none;
    border: 0;
}

.no-outline {
    outline: none;
    border: 0;
}

.seperativeLine {
    width: auto;
    height: 2px;
    background-color: gray;
}

.subComponent {
    width: auto;
    text-align: center;
}